<!-- 
    - #FOOTER
  -->

  <footer class="footer">
    <div class="container">

      <ul class="social-list">

        <li>
          <a href="#" class="social-link">
          </a>
        </li>

        <li>
          <a href="#" class="social-link">
          </a>
        </li>

        <li>
          <a href="#" class="social-link">
          </a>
        </li>

        <li>
          <a href="#" class="social-link">
          </a>
        </li>

        <li>
          <a href="#" class="social-link">
          </a>
        </li>

      </ul>

      <p class="text-center">&copy; 2024 copyright Marianela Cortina</p>

    </div>
  </footer>
