/*-----------------------------------*\
  #main.css
\*-----------------------------------*/

/**
 * 
 */

/**
 * TABLE OF CONTENT
 *
 * COMPONENTS
 * Btn............................Buttons style
 * Slider.........................Slider style
 * Card...........................Cards style
 *
 * MAIN CONTENT
 * Header.........................Modify header style
 * Hero...........................Hero styles
 * About..........................About style
 * Skills.........................Skills style
 * Cta............................Cta style
 * Media queries..................Responsive for all devices
 */





/*-----------------------------------*\
  #COMPONENTS
\*-----------------------------------*/

@import url("./components/btn.css");
@import url("./components/slider.css");
@import url("./components/card.css");





/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/

.header { background-color: transparent; }

.header.active { background-color: var(--white); }


.menu {
  display: none;
  list-style: none;
  padding: 0;
}

.menu li {
  margin-bottom: 10px;
}

.menu li a {
  display: block;
  padding: 10px;
  background-color: #f0f0f0;
  color: #333;
  text-decoration: none;
}



/*-----------------------------------*\
  #HERO
\*-----------------------------------*/

.hero {
  position: relative;
  background-color: var(--maximum-yellow-red_a10);
  padding-block-start: calc(var(--section-padding) + 60px);
  text-align: center;
  overflow: hidden;
}

.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 10%;
  bottom: 70%;
  right: -75%;
  background-color: var(--maximum-yellow-red_a40);
  transform: rotate(-45deg);
  border-radius: var(--radius-50);
  z-index: -1;
}

.hero .container {
  display: grid;
  gap: 70px;
}

.hero-subtitle {
  color: var(--jet);
  text-transform: uppercase;
  font-weight: var(--fw-600);
  letter-spacing: 3px;
  margin-block-end: 20px;
}

.hero-text { margin-block: 25px; }

.hero .btn { margin-inline: auto; }

.hero-banner img {
  max-width: max-content; 
  border-radius: 30%;
  margin-inline: auto;
  
}


/*-----------------------------------*\
  #ABOUT
\*-----------------------------------*/

.about .container {
  display: grid;
  gap: 50px;
}

.about-banner {
  width: 100%;
  height: 100%;
  translate: 0 0;
  animation: mymove 5s infinite;
}

@keyframes mymove {
  50% {translate: 50px -30px;}
}

.about-banner img {
  max-width: max-content;
  margin-inline: auto;
}

.about .section-text { 
  margin-block: 25px 16px;
  text-align: justify;
  
 }

.about-list {
  display: flex;
  align-items: center;
  gap: 25px;
}

.about-list .list-text {
  color: var(--jet);
  font-weight: var(--fw-500);
}

.about-list .strong {
  color: var(--orange-red);
  display: block;
}

.about .wrapper {
  margin-block-start: 25px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px 25px;
}





/*-----------------------------------*\
  #SKILLS
\*-----------------------------------*/

.skill-content{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  flex-direction: column ;

}

.swiper {
  width: 100%;
  max-width: 800px;
  padding: 20px 0;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.swiper-slide img {
  width: 80px;
  height: auto;
  object-fit: contain;
}

.swiper-button-next, .swiper-button-prev {
  color: #000;
}


/* STYLE CARDS */

.body-cards{
  padding: 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  align-items: center;
  min-height: 20vh;
  font-family: sans-serif;
}
.box{
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 25px;
  margin: 2% auto;
}
.card-box{
  position: relative;
  width:300px;
  height: 250px;
  background: #fff;
  margin: 0 auto;
  border-radius: 4px;
  box-shadow:0 2px 10px rgba(201, 64, 18, 0.2);
  
}
.card-box:before,
.card-box:after
{
  content:"";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background: #fff;
  transition: 0.5s;
  z-index:-1;
}
.card-box:hover:before{
transform: rotate(20deg);
box-shadow: 0 2px 20px rgba(0,0,0,.2);
}
.card-box:hover:after{
transform: rotate(10deg);
box-shadow: 0 2px 20px rgba(0,0,0,.2);
}
.card-box .imgBx{
position: absolute;
top: 10px;
left: 10px;
bottom: 10px;
right: 10px;
background: white;
transition: 0.5s;
z-index: 1;
}

.card-box:hover .imgBx
{
  bottom: 60px;
}

.card-box .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-box .imgBx-html{
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  background: white;
  transition: 0.5s;
  z-index: 1;
  }

.card-box .imgBx-html img{
  position: absolute;
  top: 0;
  left: 10%;
  width: 80%; 
  height: 100%;
  object-fit: cover;
}

.card-box .imgBx-angular{
  position: absolute;
  top: 50px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  background: white;
  transition: 0.5s;
  z-index: 1;
  }

  .card-box .imgBx-angular img{
    position: absolute;
    top: 20%;
    left: 10%;
    width: 80%; 
    object-fit: cover;
  }

  .card-box .imgBx-net{
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    background: white;
    transition: 0.5s;
    z-index: 1;
    }
  
  .card-box .imgBx-net img{
    position: absolute;
    top: 0;
    left: 10%;
    height: 100%;
    object-fit: cover;
  }
  .card-box .imgBx-sql{
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    background: white;
    transition: 0.5s;
    z-index: 1;
    }

  .card-box .imgBx-sql img{
    position: absolute;
    top: 0;
    width: 100%; 
    height: 100%;
    object-fit: cover;
  }
.card-box .details{
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 10px;
    height: 60px;
    text-align: center;
}

.card-box .details h2{
 margin: 0;
 padding: 0;
 font-weight: 600;
 font-size: 20px;
 color: #777;
 text-transform: uppercase;
} 

.card-box .details h2 span{
font-weight: 500;
font-size: 16px;
color: #f38695;
display: block;
margin-top: 5px;
 } 





/*-----------------------------------*\
  #CTA
\*-----------------------------------*/

.cta {
  background-color: var(--jet);
  text-align: center;
  padding-block: 46px 50px;
}

.cta .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.cta .title-lg {
  color: var(--white);
  font-weight: 200;
}


/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for large than 575px screen
 */

@media (max-width: 575px) {

  
  .about-banner img {
    max-width: max-content;
    margin-inline: auto;
    width: 70%;
  
  }

  .about-banner {
    width: 100%;
    height: 100%;
    translate: 0 0;
    animation: mymove 5s infinite;
  }
  
  @keyframes mymove {
    50% {translate: 50px -30px;}
  }  

  /* STYLE CARDS */

.body-cards{
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  align-items: center;
  min-height: 50vh;
  font-family: sans-serif;
}
.box{
  width: 120%;
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 15px;
  margin: 0 auto;
}
.card-box{
  position: relative;
  width: 250px;
  height: 250px;
  background: #fff;
  margin: 20px auto;
  border-radius: 4px;
  box-shadow:0 2px 10px rgba(201, 64, 18, 0.2);
  
}
.card-box:before,
.card-box:after
{
  content:"";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background: #fff;
  transition: 0.5s;
  z-index:-1;
}
.card-box:hover:before{
transform: rotate(20deg);
box-shadow: 0 2px 20px rgba(0,0,0,.2);
}
.card-box:hover:after{
transform: rotate(10deg);
box-shadow: 0 2px 20px rgba(0,0,0,.2);
}
.card-box .imgBx{
position: absolute;
top: 10px;
left: 10px;
bottom: 10px;
right: 10px;
background: #222;
transition: 0.5s;
z-index: 1;
}

.card-box:hover .imgBx
{
  bottom: 60px;
}

.card-box .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-box .imgBx-net{
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  background: white;
  transition: 0.5s;
  z-index: 1;
  }

.card-box .imgBx-net img{
  position: initial;
  top: 0;
  left: 10%;
  height: 100%;
  object-fit: cover;
}

.card-box .details{
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 10px;
    height: 60px;
    text-align: center;
}

.card-box .details h2{
 margin: 0;
 padding: 0;
 font-weight: 600;
 font-size: 20px;
 color: #777;
 text-transform: uppercase;
} 

.card-box .details h2 span{
font-weight: 500;
font-size: 16px;
color: #f38695;
display: block;
margin-top: 5px;
 } 


}

@media (min-width: 575px) {

  /**
   * ABOUT & SKILL
   */


  .skill-banner {
    max-width: max-content;
    margin-inline: auto;
  }

  .about-banner img {
    max-width: max-content;
    margin-inline: auto;
    width: 50%;
  }

  .about-banner {
    width: 100%;
    height: 100%;
    translate: 0 0;
    animation: mymove 5s infinite;
  }
  
  @keyframes mymove {
   50% {translate: 50px -30px;}
    /* 50% { transform: translateX(10%); } */
  }
  


  /**
   * CTA
   */

  .cta .container { justify-content: space-between; }

}





/**
 * responsive for large than 768px screen
 */

@media (min-width: 768px) {

  /**
   * HERO
   */

  .hero-text { --fs-18: 2rem; }

  .hero::after {
    top: -20%;
    bottom: 50%;
    left: 48%;
    right: -15%;
  }



  /**
   * ABOUT
   */
   .about-banner img {
    max-width: max-content;
    margin-inline: auto;
  }

  .about-banner {
    width: 100%;
    height: 100%;
    translate: 0 0;
    animation: mymove 5s infinite;
  }
  
  @keyframes mymove {
    50% {translate: 50px -30px;}
  }

}

@media (min-width: 700px) and (max-width: 850px) {
  .box{
    width: 120%; 
    display: flex;
    flex-wrap: nowrap;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 40px;
    margin: 0 auto;
    flex-direction: row;
  }

  .card-box{
    position: relative;
    width: 300px;
    height: 250px;
    background: #fff;
    margin: 20px auto;
    border-radius: 4px;
    /* box-shadow:0 2px 10px rgba(0, 0, 0, 0.2); */
    box-shadow:0 2px 10px rgba(201, 64, 18, 0.2);
    
  }
}

/**
 * responsive for large than 992px screen
 */
@media (min-width: 850px) and (max-width: 992px) {
  .box{
    width: 100%;
    /* display: grid; */
    display: flex;
    flex-wrap: nowrap;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 25px;
    margin: 0 auto;
    flex-direction: row;
  }

  .body-cards{
    padding: 3.5% 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    min-height: 20vh;
    font-family: sans-serif;
  }
}

/**
 * responsive for large than 992px screen
 */

@media (min-width: 992px) {

  /**
   * HERO, ABOUT, SKILL
   */

  :is(.hero, .about, .skill) .container {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }



  /**
   * HERO
   */

  .hero { text-align: left; }

  .hero .btn { margin-inline: 0; }



  /**
   * SKILL
   */

  .skill .container { align-items:flex-start; }

}





/**
 * responsive for large than 1200px screen
 */

@media (min-width: 1200px) {

  /**
   * ABOUT
   */

  .about-list { gap: 40px; }

}
