<main>
    <article>

      <section class="section portfolio" aria-labelledby="portfolio-label">
        <div class="container">

          <h2 class="section-title headline-md text-center" id="portfolio-label">Proyectos</h2>

          <ul class="portfolio-list">

            <li>
              <div class="portfolio-card">

                <div class="card-banner img-holder" style="--width: 100%; --height: 540;">
                  <img src="assets/images/Dashboard-Admin.png" width="100%" height="540" loading="lazy"
                    alt="SistemasApp" class="img-cover">

                  <a href="#" class="btn-icon" aria-label="More about Website Design">
                  </a>
                </div>

                <div class="card-content">

                  <span class="chip label-md">Web Development</span>

                  <h3 class="title-md">Sistema de Ventas</h3>

                  <p class="card-text">
                    Realicé el Sistema de Ventas utilizando Angular y para el backend .Net Core con MS SQL Server.
                    <br>
                    ❇️Este sistema permite manejar diferentes tipos de usuarios (Administrador, Supervisor, Empleado), quienes tendrán diferentes 
                    tipos de acceso a las funcionalidades, según su rol.
                    <br>
                    ❇️Autenticación y seguridad: Implementé un sistema de login con autenticación basada en tokens JWT,
                    garantizando la seguridad y protección de las sesiones de los usuarios. 
                    <br>
                    ❇️Cuenta con un  Dashboard en el que se puede visualizar un gráfico de barras con las ventas realizadas en la última semana. <br>
                    ❇️También con secciones: Registrar venta, Productos, Historial de Ventas y Reportes.
                  

                  </p>
                  
                  <!-- Botón para abrir el modal -->
                  <div class="container-img">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#videoModal1">
                        Ver Demo
                    </button>
                    <a href="https://github.com/MarianelaCortina/SistemaVentasFrontend">
                        <img src="assets/images/logo-git-1.png" alt="logo-git" class="img-git">
                    </a>
                  </div>

                <!-- Modal -->
                <div class="modal fade" id="videoModal1" tabindex="-1" aria-labelledby="video1ModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-lg">
                      <div class="modal-content">
                          <div class="modal-header">
                              <h5 class="modal-title" id="video1ModalLabel">Demo del Proyecto</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                              <video width="100%" controls>
                                  <source src="assets/videos/SistemaVentasDemo.mp4" type="video/mp4">
                                  Tu navegador no soporta la reproducción de video.
                              </video>
                          </div>
                      </div>
                  </div>
                </div>


                </div>

              </div>
            </li>

          


            <li>
              <div class="portfolio-card">

                <div class="card-banner img-holder" style="--width: 100%; --height: 540;">
                  <img src="assets/images/DCompras-screen.png" width="100%" height="540" loading="lazy"
                    alt="DComprasApp" class="img-cover">

                  <a href="#" class="btn-icon" aria-label="">
                  </a>
                </div>

                <div class="card-content">

                  <span class="chip label-md">Web Development</span>

                  <h3 class="title-md">De Compras</h3>

                  <p class="card-text">
                  Participé en el desarrollo de la app, utilizando <strong>Angular</strong>, junto a un equipo multidisciplinario
                  dentro de la organización No Country. <br>
                  ✴️El backend fue desarrollado en Java y para el ambiente de desarrollo se utilizó Docker.
                  <br>
                  ✴️Este sitio web se ha diseñado con el propósito de simplificar la experiencia de compra del usuario, al proporcionarle comparaciones de precios entre diversos supermercados y 
                  de esta forma permitirle ahorrar en sus compras.
                  </p>

                  <!-- Botón para abrir el modal -->
                  <div class="container-img">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#videoModal">
                        Ver Demo
                    </button>
                    <a href="https://github.com/No-Country/c16-55-t-java-front?tab=readme-ov-file">
                        <img src="assets/images/logo-git-1.png" alt="logo-git" class="img-git">
                    </a>
                  </div>

                <!-- Modal -->
                <div class="modal fade" id="videoModal" tabindex="-1" aria-labelledby="videoModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-lg">
                      <div class="modal-content">
                          <div class="modal-header">
                              <h5 class="modal-title" id="videoModalLabel">Demo del Proyecto</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                              <video width="100%" controls>
                                  <source src="assets/videos/DeComprasAppDemo.mp4" type="video/mp4">
                                  Tu navegador no soporta la reproducción de video.
                              </video>
                          </div>
                      </div>
                  </div>
                </div>

                </div>

              </div>
            </li>

            <li>
              <div class="portfolio-card">

                <div class="card-banner img-holder" style="--width: 100%; --height: 540;">
                  <img src="assets/images/captura-pantalla-reserveapp.png" width="100%" height="540" loading="lazy"
                    alt="Website Design for Marketing Agency Startup" class="img-cover">

                  <a href="#" class="btn-icon" aria-label="More about Website Design for Marketing Agency Startup">
        
                  </a>
                </div>

                <div class="card-content">

                  <span class="chip label-md">UI/UX Design</span>

                  <h3 class="title-md">ReservApp </h3>

                  <p class="card-text">
                    Participé en el desarrollo de ReservApp, en esta ocasión, en el rol de diseñadora UI/UX, junto a un
                    talentoso equipo multidisciplinario, dentro de la organización NoCountry.<br>
                    Para este proyecto participé en:<br>
                    🎨 Diseño de la identidad de marca y logotipos.<br>
                    🎨 Creación de prototipos y mockups de baja calidad.<br>
                    🎨 Definición de colores, fuentes y estilos.<br>
                    🎨 Avanzar hacia prototipos de calidad media y desarrollo de componentes.<br>
                    🎨 Redacción de textos y copywriting.<br>
                    🎨 Creación del Readme.md<br>
                  </p>

                  <div class="container-img">
                    <a href="https://www.figma.com/proto/h15w4nTzOcqvHJFHFY7Wgv/s16-05-php-react?page-id=0%3A1&node-id=327-487&starting-point-node-id=307%3A432&t=nYHVlBGiTvAzuWxY-1" class="btn btn-primary">Ver Prototipo</a>
                    <a href="https://github.com/No-Country-simulation/s16-05-m-php-react" ><img src="assets/images/logo-git-1.png" alt="logo-git" class="img-git"></a>
                  </div>

                </div>

              </div>
            </li>

            <li>
              <div class="portfolio-card">

                <div class="card-banner img-holder" style="--width: 100%; --height: 540;">
                  <img src="assets/images/pantalla-sales.png" width="100%" height="540" loading="lazy"
                    alt="Website Design for Marketing Agency Startup" class="img-cover">

                  <a href="#" class="btn-icon" aria-label="More about Website Design for Marketing Agency Startup">
        
                  </a>
                </div>

                <div class="card-content">

                  <span class="chip label-md">Web Development</span>

                  <h3 class="title-md">Sales Products </h3>

                  <p class="card-text">
                    Desarrollé esta landing page como práctica para reforzar mis conocimientos en Angular (versión 17).<br> 
                    ✔️Utilicé la API de Fakestoreapi para cargar productos dinámicamente.<br>
                    ✔️Apliqué patrones de diseño eficientes, como la arquitectura basada en servicios y la reutilización de componentes modulares.<br> 
                    ✔️El objetivo fue crear una interfaz intuitiva que permita la exploración de productos de diversas categorías de manera óptima.
        
                  </p>

                  <div class="container-img">
                    <a href="https://salesproducts.netlify.app/" class="btn btn-primary">Ver Proyecto</a>
                    <a href="https://github.com/MarianelaCortina/Landing-Page-AngularV17" ><img src="assets/images/logo-git-1.png" alt="logo-git" class="img-git"></a>
                  </div>

                </div>

              </div>
            </li>

            <li>
              <div class="portfolio-card">

                <div class="card-banner img-holder" style="--width: 100%; --height: 540;">
                  <img src="assets/images/Challenge-Amigo-Secreto.png" width="100%" height="540" loading="lazy"
                    alt="Website Design for Marketing Agency Startup" class="img-cover">

                  <a href="#" class="btn-icon" aria-label="More about Website Design for Marketing Agency Startup">
        
                  </a>
                </div>

                <div class="card-content">

                  <span class="chip label-md">Web Development</span>

                  <h3 class="title-md">Juego Amigo Secreto</h3>

                  <p class="card-text">
                    Juego "Amigo secreto" forma parte del challenge que realicé para aplicar todo lo aprendido 
                    en los cursos de JavaScript dictados por  Oracle Next Education y Alura Latam.<br>
                    ✅Permite agregar múltiples amigos a la lista.<br>
                    ✅Verifica que no se agreguen nombres duplicados.<br>
                    ✅Permite borrar la lista y reiniciar el juego.<br>
                    ✅Interfaz interactiva con actualizaciones dinámicas en la pantalla, a través del uso del DOM.

                  </p>

                  <div class="container-img">
                    <a href="https://marianelacortina.github.io/challenge-amigo-secreto-oracle-alura/" class="btn btn-primary">Ver Proyecto</a>
                    <a href="https://github.com/MarianelaCortina/challenge-amigo-secreto-oracle-alura" ><img src="assets/images/logo-git-1.png" alt="logo-git" class="img-git"></a>
                  </div>

                </div>

              </div>
            </li>

            <li>
              <div class="portfolio-card">

                <div class="card-banner img-holder" style="--width: 100%; --height: 540;">
                  <img src="assets/images/WeatherApp.png" width="100%" height="540" loading="lazy"
                    alt="weatherApp" class="img-cover">

                  <a href="#" class="btn-icon" aria-label="">
                  </a>
                </div>

                <div class="card-content">

                  <span class="chip label-md">Web Development</span>

                  <h3 class="title-md">La app del clima</h3>

                  <p class="card-text">
                    WeatherApp la realicé con utilizando Angular versión 13.<BR> 
                    *️⃣Cuando ingreses a la app, te pedirá permiso para conocer tu ubicación, así te podrá mostrar el clima de tu ciudad en <i>tiempo real</i>.<BR> 
                    *️⃣Esto está logrado gracias al uso de <i>geo-localicación</i>, a través del uso de la API OpenWeatherMap.<BR> 
                    *️⃣Cuando le das permiso, toma las coordenadas de la ciudad donde te encuentras, 
                    se las envía a la API y esta te devuelve la respuesta cargando la temperatura en la app.<BR>
                    *️⃣También podrás buscar la temperatura de la ciudad que escribas en el buscador.
                  </p>

                  <div class="container-img">
                    <a href="https://marianelacortina.netlify.app/" class="btn btn-primary">Ver Proyecto</a>
                    <a href="https://github.com/MarianelaCortina/AppClimaconAngular" ><img src="assets/images/logo-git-1.png" alt="logo-git" class="img-git"></a>
                  </div>

                </div>

              </div>
            </li>

            
           

          </ul>

        </div>
      </section>

    </article>
  </main>
