<main>
    <article>

      <!-- 
        - #PORTFOLIO
      -->

      <section class="section portfolio" aria-labelledby="portfolio-label">
        <div class="container">

          <h2 class="section-title headline-md text-center" id="portfolio-label">Proyectos</h2>

          <ul class="portfolio-list">

            <li>
              <div class="portfolio-card">

                <div class="card-banner img-holder" style="--width: 100%; --height: 540;">
                  <img src="assets/images/Dashboard-Admin.png" width="100%" height="540" loading="lazy"
                    alt="SistemasApp" class="img-cover">

                  <a href="#" class="btn-icon" aria-label="More about Website Design">
                  </a>
                </div>

                <div class="card-content">

                  <span class="chip label-md">Web Development</span>

                  <h3 class="title-md">Sistema de Ventas</h3>

                  <p class="card-text">
                    Realicé el Sistema de Ventas utilizando Angular 16 y para el backend .Net Core 8 con MS SQL Server.
                    <br>
                    Este sistema permite manejar diferentes tipos de usuarios (Administrador, Supervisor, Empleado), quienes tendrán diferentes 
                    tipos de acceso a las funcionalidades, según su rol. 
                    <br>
                    Cuenta con un  Dashboard en el que se puede visualizar un gráfico de barras con las ventas realizadas en la última semana. 
                    También con secciones: Registrar venta, Productos, Historial de Ventas y Reportes.
                  

                  </p>
                  <div class="container-img">
                    <a href="https://sistemadeventasapp.netlify.app/" class="btn btn-primary">Ver Proyecto</a>
                    <a href="https://github.com/MarianelaCortina/SistemaVentasFrontend" ><img src="assets/images/logo-git-1.png" alt="logo-git" class="img-git"></a>
                  </div>

                </div>

              </div>
            </li>

            <li>
              <div class="portfolio-card">

                <div class="card-banner img-holder" style="--width: 100%; --height: 540;">
                  <img src="assets/images/DCompras-screen.png" width="100%" height="540" loading="lazy"
                    alt="DComprasApp" class="img-cover">

                  <a href="#" class="btn-icon" aria-label="">
                  </a>
                </div>

                <div class="card-content">

                  <span class="chip label-md">Web Development</span>

                  <h3 class="title-md">De Compras</h3>

                  <p class="card-text">
                  Participé en el desarrollo de la app, utilizando Angular 16, junto a un equipo interdisciplinario
                  dentro de la organización No Country. El backend fue desarrollado en Java y para el ambiente de desarrollo se utilizó Docker.
                  <br>
                  Este sitio web se ha diseñado con el propósito de simplificar la experiencia de compra al proporcionar comparaciones de precios entre diversos supermercados y 
                  de esta forma permitirle ahorrar al usuario en sus compras.
                  </p>

                  <div class="container-img">
                    <a href="https://c16-55-t-java-front.vercel.app/" class="btn btn-primary">Ver Proyecto</a>
                    <a href="https://github.com/No-Country/c16-55-t-java-front?tab=readme-ov-file" ><img src="assets/images/logo-git-1.png" alt="logo-git" class="img-git"></a>
                  </div>

                </div>

              </div>
            </li>

            <li>
              <div class="portfolio-card">

                <div class="card-banner img-holder" style="--width: 100%; --height: 540;">
                  <img src="assets/images/WeatherApp.png" width="100%" height="540" loading="lazy"
                    alt="weatherApp" class="img-cover">

                  <a href="#" class="btn-icon" aria-label="">
                  </a>
                </div>

                <div class="card-content">

                  <span class="chip label-md">Web Development</span>

                  <h3 class="title-md">La app del clima</h3>

                  <p class="card-text">
                    WeatherApp la realicé con Angular 13. Cuando ingreses a la app, te pedirá permiso para conocer tu ubicación, así te podrá mostrar el clima de tu ciudad en tiempo real. Esto está logrado gracias al uso de geo-localicación, a través del uso de la API OpenWeatherMap (https://api.openweathermap.org). Cuando le das permiso, toma las coordenadas de la ciudad donde te encuentras, 
                    se las envía a la API y esta te devuelve la respuesta cargando la temperatura en la app.
                    También podrás buscar la temperatura de la ciudad que escribas en el buscador.
                  </p>

                  <div class="container-img">
                    <a href="https://marianelacortina.netlify.app/" class="btn btn-primary">Ver Proyecto</a>
                    <a href="https://github.com/MarianelaCortina/AppClimaconAngular" ><img src="assets/images/logo-git-1.png" alt="logo-git" class="img-git"></a>
                  </div>

                </div>

              </div>
            </li>

            <li>
              <div class="portfolio-card">

                <div class="card-banner img-holder" style="--width: 100%; --height: 540;">
                  <img src="assets/images/TiendaOnlineApp.png" width="100%" height="540" loading="lazy"
                    alt="Website Design for Marketing Agency Startup" class="img-cover">

                  <a href="#" class="btn-icon" aria-label="More about Website Design for Marketing Agency Startup">
        
                  </a>
                </div>

                <div class="card-content">

                  <span class="chip label-md">Web Development</span>

                  <h3 class="title-md">Tienda Online </h3>

                  <p class="card-text">
                    A la tienda online la realicé utilizando Angular 16 y creé una fake API utilizando Json-Server 
                    para crear los objetos "Producto" y "Usuario", como en una base de datos.
                  </p>

                  <div class="container-img">
                    <a href="https://github.com/MarianelaCortina/Angular_ECommerce_App" class="btn btn-primary">Ver Proyecto</a>
                    <a href="https://github.com/MarianelaCortina/Angular_ECommerce_App" ><img src="assets/images/logo-git-1.png" alt="logo-git" class="img-git"></a>
                  </div>

                </div>

              </div>
            </li>

          </ul>

        </div>
      </section>

    </article>
  </main>
