<main>
    <article>
      <!-- 
        - #HERO
      -->
      <section class="section hero" aria-label="home" id="home">
        <div class="container">

          <div class="hero-content">

            <p class="hero-subtitle">Hola, me llamo Marianela Cortina</p>

            <h1 class="headline-lg" id="typing-animation"></h1>

            <p class="hero-text body-md">
              Vivo en Buenos Aires, Argentina. <img src="assets/images/ar.svg" width="30" height="10" style="display: inline-block; vertical-align: middle;">
            </p>

            <a href="#about-section" class="btn btn-primary">Comencemos</a>

          </div>

          <figure class="hero-banner">
            <img src="assets/images/fotoperfilCanvas2 (1).png" width="680" height="645"
              alt="" class="w-100">
          </figure>

        </div>
      </section>

      <!-- 
        - #ABOUT
      -->

      <section class="section about" aria-label="about me" id="about-section">
        <div class="container">

          <figure class="about-banner">
            <img src="assets/images/imagen_pc2.png" width="580" height="554" loading="lazy"
              alt="" >
          </figure>

          <div class="about-content">

            <p class="body-lg section-text">
              Soy Desarrolladora Web con experiencia en startups, especializada en el 
              desarrollo de soluciones fullstack utilizando Angular, .NET y bases de datos SQL Server. <br><br> 
              He trabajado en el desarrollo y mantenimiento de aplicaciones web, participando tanto
              en frontend como en backend para diversos clientes. <br><br>

              Actualmente, sigo fortaleciendo mis habilidades fullstack para crear aplicaciones escalables, seguras y eficientes.
              Mi objetivo es seguir creciendo profesionalmente y aportar mis conocimientos técnicos, compromiso y pasión por el 
              desarrollo a equipos dinámicos e innovadores.
            </p>
             <!-- Botón para descargar el CV -->
             <a href="assets/images/CV_MarianelaCortina_WebDeveloper.pdf" class="btn btn-secondary" style="margin-top: 20px;" download="CV_Marianela_Cortina_DesarrolladoraWeb.pdf">Descargar CV</a>

          
          </div>

        </div>
       
      </section>

    

      <!-- 
        - #SKILL
      -->
     <div class="semicircle"></div>
      <section class="section skill" aria-labelledby="skill-label">
        
        <div class="container">

          <div class="skill-content">

            <h2 class="section-title headline-md" id="skill-label">Mis habilidades</h2>

            <div class="body-cards">
              <div class="box">
                <div class="card-box">
                  <div class="imgBx-html">
                    <img src="../../assets/images/html5 (1).png" alt="Html5 iconos creados por ZFreet - Flaticon"  style="align-content: center;">
                  </div>
                </div>
              
                <div class="card-box">
                  <div class="imgBx-angular">
                      <img src="../../assets/images/logotipo-angular.png" alt="images">
                  </div>
                </div>
          

          
              </div>
            </div>

            <div class="body-cards">
              <div class="box">

                <div class="card-box">
                  <div class="imgBx-html">
                    <img src="../../assets/images/css-3.png" alt="Css 3 iconos creados por Freepik - Flaticon">
                  </div>
                </div>

                <div class="card-box">
                  <div class="imgBx-html">
                    <img src="../../assets/images/js.png" alt="Javascript iconos creados por Freepik - Flaticon">
                  </div>
                </div>
              
                
              </div>
            </div>

            <div class="body-cards">
              <div class="box">
                <div class="card-box">
                  <div class="imgBx-net">
                    <img src="../../assets/images/480px-.NET_Core_Logo.svg.png"  alt="images">
                  </div>
                </div>
          
                <div class="card-box">
                  <div class="imgBx-sql">
                    <img src="../../assets/images/servidor-sql.png" alt="Microsoft SQL Server iconos creados por Freepik - Flaticon">
                  </div>
                </div>
          
              </div>
            </div>

          </div>

        </div>
      </section>

      
      <!-- 
        - #CTA
      -->

      <section class="cta">
        <div class="container">
          <h2 class="title-lg">¿Te gustaría que forme parte de tu equipo?</h2>

          <a routerLink="/contact" class="btn btn-tertiary" (click)="onContact()">Contáctame</a>
        </div>
      </section>

      

    </article>
  </main>
