.semicircle {
    position: relative;
    background: white;
    height: 10vh;
  }
  
  .semicircle::before {
    position: absolute;
    content: '';
    left: 50%;
    z-index: 10;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: inherit;
    transform: translateX(-50%) translateY(50%);
    bottom: 0px;
  }
  .skill {
    background-color: var(--maximum-yellow-red_a10);
  }